*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 64px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

/* .nav-logo > img {
    width: 48px;
} */

.login-signup-part {
    position: relative;
}

.login-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
    color: rgb(51, 51, 51);
}

.login-part > img {
    margin-right: 8px;
}

.login-part:hover {
    color: #fff;
    background-color: #2a55e5;
    border: 1px solid #2a55e5;
    border-radius: 8px;
}

.login-part:hover .login-part-img {
    filter: invert(1) sepia(0.69) saturate(0) hue-rotate(132deg) brightness(1.14) contrast(1.01);
}

.login-part-arrow {
    margin-left: 4px;
}

.login-part:hover .login-part-arrow {
    filter: invert(1) sepia(0.69) saturate(0) hue-rotate(132deg) brightness(1.14) contrast(1.01);
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out 0s ;
}

.login-dropdown {
    display: none;
    position: absolute;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    left: -20px;
    top: 42px;
    min-width: 100px;
    width: 280px;
    transform:  matrix(1, 0, 0, 1, -140, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

.login-dropdown > a {
    display: flex;
    align-items: center;
    justify-content: left baseline;
    margin-top: 4px;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.login-dropdown > a > li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    text-align: left;
}

.signup-button-container {
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    font-size: 16px;
}

.signup-button-container > span {
    color: rgb(42, 85, 229);
    line-height: 24px;
    font-weight: bold   ;
}

.login-dropdown > a > li > img {
    margin-right: 8px;
}

.login-dropdown > a:hover:not(:first-child) {
    background-color: rgb(250, 250, 250);
}

.login-signup-part:hover .login-dropdown {
    display: block;
}

.navbar-left-part {
    display: flex;
}

.navbar-right-part {
    display: flex;
    align-items: center;
}

.explore-product {
    text-decoration: none;
    color: rgb(51, 51, 51);
    margin-right: 24px;
}

.search-products-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.search-button {
    background-color: #f0f5ff;
    cursor: pointer;
    border: 0px;
    margin-right: 8px;
}

.search-products-form {
    display: flex;
    align-items: center;
    background-color: #f0f5ff;
    border: 0px;
    padding: 4px;
    height: 40px;
    border-radius: 8px;
}

.search-input {
    background-color: #f0f5ff;
    font-size: 16px;
    border: 0px;
    outline: none;
    word-spacing: 0;
    text-overflow: ellipsis;
    min-width: 400px;
}

/* After logging in, styles for My account part */

.my-account-part {
    position: relative;
}

.my-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
}

.my-account > span {
    color: rgb(51, 51, 51);
    margin: 0 8px;
}

.my-account-dropdown {
    display: none;
    position: absolute;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    left: -20px;
    top: 42px;
    min-width: 100px;
    width: 280px;
    transform:  matrix(1, 0, 0, 1, -140, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

.my-account:hover .my-account-arrow{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out 0s ;
}

.my-account:hover {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
}

.my-account-part:hover .my-account-dropdown {
    display: block;
}

.my-account-dropdown > a {
    display: flex;
    align-items: center;
    justify-content: left baseline;
    margin-top: 4px;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.my-account-dropdown > a > li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    text-align: left;
}

.my-account-dropdown > a > li > img {
    margin-right: 8px;
}

.my-account-dropdown > ul > a:hover {
    background-color: rgb(250, 250, 250);
}



